extends base.pug
block scripts
  script(src='/static/index.js')

block style 
    style
        include ../static/style.css 
        include ../static/styleContact.css 
block content
    h1 Our Dance Academy 
    | Our Dance academy is situated in the north of Jhansi city, It provide you all the facilities . <br>
    | You can learn each and every step of dancing and go for abroad . <br>
    |Our Address is : B.I.E.T College ,konchhabhawar, Jhansi (284128) 
