extends base.pug
block scripts
  script(src='/static/index.js')

block style 
    style
        include ../static/style.css  
        include ../static/styleContact.css
block content
    h1 Our Classes 
    | Yoga : 5:30 am. to 7:00 am // <b> sunday off <br>
    | Bally Dance Classes : Everyday 7 am. to 9 am. & 6pm to 8pm 