extends base.pug
block scripts
  script(src='/static/index.js')

block style 
    style
        include ../static/style.css 
        include ../static/styleContact.css 
block content
    h1 Our services
    h3 We provide You every single step of dancing.
    h4 Contemporary dancing 
    h4 fork dancing
    h4 Classical dancing 
    h4 Bollywood Hollywood Dance styles 
    h4 dove steps  and many more

